@use '@/assets/styles/fonts';
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #F7F7F7;
}

.content{
  @extend .Montserrat500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
  &Search{
    width: 448px;
    align-self: end;
  }
  &Menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}
