.tag{
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
    border-radius: 10px;
    &Active{
        background: #BDE0E3;
        color: #253D3F;
        text-decoration: none;
    }
    &Nonactive{
        border: 1px dashed #BDE0E3;
        color: #253D3F;
        text-decoration: none;
    }
}