@use '@/assets/styles/fonts';
.footer{
  @extend .Montserrat400;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
  padding: 25px 40px;
  background-color: #253D3F;
  color: #FFF;
  border-radius: 40px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.content{
  @extend .Montserrat500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
  &Search{
    width: 448px;
    align-self: end;
    input{
      width: 418px;
      padding: 15px;
      border-radius: 10px;
      border: transparent 0;
    }
  }
  &Menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}

.moreInfo {
  cursor: pointer;
  user-select: none;
  color: #858585;

  &Title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: bold;
  }

  &Text{
    line-height: normal;
    .link{
      text-decoration: underline;
      color: #FFFFFF;
    }
  }

  &Image {
    transition: transform 0.3s ease;
  }

  .rotated {
    transform: rotate(180deg);
  }

  &Content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
  }

  .expanded {
    max-height: 500px;
    opacity: 1;
  }
}